body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* メニューのスタイル */
.menu {
  position: fixed;
  top: 0;
  left: -100%; /* 初期状態では画面の外に隠れている */
  width: 300px;
  height: 100%;
  background-color: #000;
  color: #333;
  transition: left 0.3s ease; /* スライドインのアニメーション */
  padding: 20px;
  box-sizing: border-box;
  z-index: 30;
}

/* メニューが開いているとき */
.menu.open {
  left: 0;
}

/* ボタンのスタイル */
.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  cursor: pointer;
  z-index: 20;
  &hover {
    background-color: #aaa;
    color: #fff;
    cursor: pointer;
  }
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #aaa;
  margin: 5px 0;
  transition: 0.4s;
}

/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* メニューリストのスタイル */
.menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 80px;
}

.menu li {
  padding: 20px 0;
  border-bottom: 1px solid #444;
}

.menu li a {
  color: #ddd;
  text-decoration: none;
  display: block;
}
.s {
  padding: 1px;
}
